body
{

font-family: 'Helvetica';
background-color: rgba(233,130,123,1);
background-repeat:no-repeat;
background-attachment: fixed;
background-size: 100%;
margin:0;
}

html,body
{

max-width: 100%;
overflow-x:hidden;

}

/* Parallax */
.parallax {
	-webkit-perspective: 1px;
	perspective: 1px;
	height: 20vh;
	overflow-x: hidden;
	overflow-y: auto;
	font-size: 200%;
}

.parallax__layer {
	position: absolute;
	padding: 15vh 0;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

.parallax__layer--base {
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
}

.parallax__layer--back {
	-webkit-transform: translateZ(-1px);
	transform: translateZ(-1px);
}

.title {
	position: absolute;
	left: 50%;
	top: 40%;
	bottom:60%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

#nameFront
{

	color: rgba(1,1,1,0.3);
	font-size:80px;

}

#shadow
{

	color: rgba(46,205,183,1);
	font-size:80px;

}


/* end */

#top a
{

position:fixed;
bottom: 2%;
right: 2%;
color: rgba(233,130,123,1);
font-size: 26px;
font-family: 'Helvetica';
font-weight: bold;
text-transform: uppercase;
text-decoration: none;

}

#nav
{

margin-right:auto;
margin-left:auto;
max-width:100%;
text-align:center;
background-color: rgba(48,81,113,1);
padding-top: 10px;
padding-bottom: 10px;

}

#nav li
{

display:inline;
white-space: nowrap;

}

#nav a
{

text-decoration: none;
font-size: 28px;
padding-left: 3%;
padding-right: 3%;
font-weight: bold;
color: rgba(233,130,123,1);

}

#nav a:hover
{

color: rgba(255,255,255,.9);

}

#nav a:active
{

color: rgba(233,130,123,1);

}

#box
{

background-color: rgba(48,81,113,1);
background-size:100%;
background-repeat: no-repeat;
margin:0;
border: 1px solid rgba(255,255,255,0);
text-align: center;

}

#name
{

color: rgba(255,255,255,1);

}

#contacts
{

font-size:24px;
color: rgba(46,205,183,.7);

}

#contacts a
{

color: rgba(46,205,183,.7);

}

#title h1
{

font-size: 100px;

}

#info
{

background-color: rgba(233,130,123,1);

}


#knowledge
{

background-color: rgba(255,255,255,1);
margin-left:auto;
margin-right: auto;
background-image: url('http://i.imgur.com/D1DFvNJ.png');
background-attachment: fixed;

}



#knowlist
{

white-space: nowrap;
list-style: none;

}


#knowlist li
{

padding:5%;
padding-right:15%;
display:inline-table;

}


#knowledge h3
{

margin-left:10%;
margin-right:10%;
font-size:36px;
color: rgba(233,130,123,1);

}

#knowledge h4
{

margin-left:10%;
margin-right:10%;
color: rgba(46,205,183,1);
font-size:22px;


}


#knowledge p
{

margin-left:10%;
margin-right:10%;
color: rgba(48,81,113,1);
font-size: 17px;

}

#experience
{

padding-top:2%;
background-color: rgba(48,81,113,1);

}

#exp
{

white-space: nowrap;
list-style: none;

}

#work1
{

display: inline-block;

}

#work2
{

display: inline-block;

}

#experience h3
{

margin-left:5%;
margin-right:5%;
font-size:36px;
color: rgba(233,130,123,1);

}

#experience h4
{

margin-left:5%;
margin-right:5%;
color: rgba(46,205,183,1);
font-size:22px;

}

#experience li
{

margin-left:5%;
margin-right:5%;

}

#experience p
{

margin-left:5%;
margin-right:5%;
color: rgba(255,255,255,1);
font-size: 17px;

}

.date
{

font-style: italic;

}

#project
{

background-color: rgba(255,255,255,1);
padding-bottom: 5%;
background-image: url('http://i.imgur.com/7iy4trc.png');
background-attachment: fixed;

}

#projlist
{

list-style: none;
white-space: nowrap;

}

#proj1
{

display:inline-block;
margin-top:0%;

}

#screenshot
{

display: inline-block;

}

#project h3
{

margin-left:5%;
margin-right:5%;
font-size:36px;
color: rgba(233,130,123,1);

}

#project h4
{

margin-left:5%;
margin-right:5%;
color: rgba(46,205,183,1);
font-size:22px;

}

#project li
{

margin-left:5%;
margin-right:5%;
color: rgba(48,81,113,1);

}

#project p
{

margin-left:5%;
margin-right:5%;
color: rgba(48,81,113,1);
font-size: 17px;

}

#bottom
{

background-color: rgba(46,205,183,1);
padding:2.5%;
text-align: center;

}

#bottom a
{

padding-right: 3%;

}

.shadow 
{
   -moz-box-shadow:    inset 0 0 10px #000000;
   -webkit-box-shadow: inset 0 0 10px #000000;
   box-shadow:         inset 0 0 10px #000000;
}

.shadow2 
{
  -moz-box-shadow:    1px 1px 3px 1px #305171;
  -webkit-box-shadow: 1px 1px 3px 1px #305171;
  box-shadow:         1px 1px 3px 1px #305171;
}

.textshadow
{

text-shadow: 3px 3px 7px #305171;

}

@media all and (max-width: 1200px)
{

#title
{
background-image:none;
}

#exp li
{
display:block;
}

#projlist li
{
display:block;
}

}

@media all and (max-width: 900px)
{

#nav a
{
display:block;
font-size: 24px;
}

#box
{

}

#knowlist li 
{
display:block;
}


#title h1
{
font-size:60px;
}

#contacts
{
font-size:20px;
}

#bottom img
{
min-width:15%;
}

}

@media all and (max-width: 800px)
{

#knowledge h3
{
font-size:30px;
margin-left:1%;
margin-right:1%;
}

#knowledge h4
{
font-size:20px;
margin-left:1%;
margin-right:1%;
}

#knowledge p
{
font-size:15px;
margin-left:1%;
margin-right:1%;
}

#experience h3
{
font-size:30px;
margin-left:1%;
margin-right:1%;
}

#experience h4
{
font-size:20px;
margin-left:1%;
margin-right:1%;
}

#experience p
{
font-size:15px;
margin-left:1%;
margin-right:1%;
}

#project h3
{
font-size:30px;
margin-left:1%;
margin-right:1%;
}

#project h4
{
font-size:20px;
margin-left:1%;
margin-right:1%;
}

#project p
{
font-size:15px;
margin-left:1%;
margin-right:1%;
}

#bottom img
{
min-width:15%;
}

}

